*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #121C34;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.roupa-imagem{
    width: 25%;
}

.roupa{background-image: linear-gradient(#121C34,#000000);
    color: aliceblue;
    display: flex;
}

.roupa-div-conteudo{
    width: 35%;
}

.lista-texto { justify-items: center; }